version:  0.1.0

services:
  backend:
    build:
      context: ./quote-backend
    container_name: amazon_vanlines_backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - SMTP_EMAIL=amazonvanlines@gmail.com
      - SMTP_PASSWORD=wggh nrkv kces erzj
      - RECEIVER_EMAIL=sales@amazonvanlines.com
    restart: always

  # frontend:
  #   build:
  #     context: .
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - backend
  #   environment:
  #     - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
  #   restart: always

  web:
      image: nginx:stable-alpine
      container_name: amazon_vanlines_web
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./:/var/www/html
        - ./docker/nginx/amazon_vanlines.conf:/etc/nginx/conf.d/amazon_vanlines.conf
        # - ./docker/nginx/main.conf:/etc/nginx/conf.d/main.conf
        # - ./docker/nginx/crm.conf:/etc/nginx/conf.d/crm.conf
        # - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

        - /etc/letsencrypt:/etc/letsencrypt:ro
      depends_on:
        - backend