version: '3.8'

services:
  backend:
    build:
      context: ./quote-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - SMTP_EMAIL=${SMTP_EMAIL}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - RECEIVER_EMAIL=${RECEIVER_EMAIL}
    restart: always

  frontend:
    build:
      context: .
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    restart: always
